@model IEnumerable<OkooneBlogger.Models.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h2 style="text-align: center">All Articles</h2>

<form asp-action="" method="get">
    @Html.DisplayName("Search Contents: ")

    @Html.Kendo().TextBox().Name("q").HtmlAttributes(new { type = "search", @placeholder = "Enter keys to search..." })

    @(Html.Kendo().ComboBox()
                  .Name("sort")
                  .Placeholder("Select ordering...")
                  .BindTo(new List<string>() {
          "Ascending",
          "Descending"
                  })
                  .SelectedIndex(0)
                  .Suggest(true)
                  .HtmlAttributes(new { style = "width:20%;" })
    )

    <button class="k-button k-primary" id="get" style="margin-left: 10px">Search and Sort</button>
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>